<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517392828037-ou08p6uk63emajaa4micaahd1nu2eaio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517392828037-ou08p6uk63emajaa4micaahd1nu2eaio</string>
	<key>API_KEY</key>
	<string>AIzaSyB-mjbJ3sYUMU_j1xFTbKzaUev8rwlJROw</string>
	<key>GCM_SENDER_ID</key>
	<string>517392828037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.glau</string>
	<key>PROJECT_ID</key>
	<string>glau-3785f</string>
	<key>STORAGE_BUCKET</key>
	<string>glau-3785f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517392828037:ios:dc73fa5d9bc7b6be1ccbec</string>
</dict>
</plist>